<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <link rel="stylesheet" href="/css/login.css">
        
    </head>
    <body>
        <div class="tabcontent" id="registerbox">
          <h1>SIGN UP</h1>
          <form action="/auth/register" method="post">
            <input type="text" placeholder="Username" name="uname" required>
            <input type="text" placeholder="Email" name="email" required>
            <input type="password" placeholder="Password" name="psw" required>
            <input type="password" placeholder="Confirm Password" name="confirmpsw" required>
            <button type="submit">CREATE ACCOUNT</button>
            <span class="psw1"><a href="#">Already have an account?/Login here</a></span>
          </form>
        </div> 
      </div>
      
    </body>
</html>
